.accordion {
  &__element {
    position: relative;
    margin-right: 1px;
    font-family: $ff-secondary;
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);
    color: $color-default-dark;

    &:first-child {
      border-top: 1px solid rgba(28, 51, 116, 0.2);
    }

    &.is-active {
      padding-bottom: 25px;

      @include vp-767 {
        padding-bottom: 21px;
      }
    }

    &.is-active > .accordion__button {
      padding-bottom: 14px;
    }

    &.is-active > .accordion__button::after {
      top: 61%;
      background-image: url("./../img/svg/minus.svg");

      @include vp-767 {
        top: 53%;
      }
    }
  }

  &__button {
    position: relative;
    padding: 32px 62px 30px 0;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    text-align: start;
    cursor: pointer;

    @include vp-1199 {
      line-height: 1.13;
    }

    @include vp-767 {
      padding: 20px 52px 20px 0;
      font-family: $ff-secondary;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.17;
      color: $color-default-dark;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 42px;
      height: 42px;
      background-image: url("./../img/svg/plus.svg");
      background-size: 42px 42px;

      @include vp-767 {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }
  }

  &__content p {
    margin: 0;
    max-width: 660px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;

    @include vp-1199 {
      max-width: 560px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}
