.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 0 114px;
  background-color: $background-additional;
  min-height: 664px;

  @include vp-1199 {
    padding: 51px 0;
    min-height: 755px;
  }

  @include vp-767 {
    padding-top: 31px;
    padding-bottom: 43px;
    min-height: 538px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1136px;
    margin: 0 auto;

    @include vp-1199 {
      max-width: 768px;
    }

    @include vp-767 {
      max-width: 100%;
      padding: 0;
    }
  }

  & h2 {
    margin-bottom: 45px;
    font-family: $ff-primary;
    font-size: 54px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.62px;
    color: $color-default-dark;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 40px;
      font-size: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      padding: 0 15px;
      margin-bottom: 44px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }

  &__list {
    display: grid;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 160px 60px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 240px 1fr;

    @include vp-1199 {
      gap: 42px 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 0;
    }
  }

  &__item {
    display: flex;
    column-gap: 30px;
    grid-column: 3;
    overflow-wrap: break-word;

    &:nth-child(n+3) {
      align-self: flex-end;
    }

    @include vp-1199 {
      grid-column: 2;
    }

    @include vp-767 {
      grid-column: 1/-1;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 460px;
      padding: 0 46px 20px;
      text-align: center;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 5;
      }

      &:nth-child(4) {
        order: 5;
      }

      &:nth-child(5) {
        order: 5;
      }
    }

    &:nth-child(odd) {
      padding-left: 23px;
      grid-column: 1;

      @include vp-1199 {
        padding-left: 0;
        grid-column: 1;
      }

      @include vp-767 {
        padding: 0 46px 33px;
      }
    }
  }

  &__center-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    grid-column: 2;
    grid-row: 2 span;
    color: $color-default-light;
    font-family: $ff-secondary;
    text-align: center;

    & .features__center-item-content {
      padding: 51px 34px 59px;
      width: 100%;
      background-color: #1C3374;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 51%;

      width: 340px;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.20);
      transform: translate(-50%, -50%);

      @include vp-1199 {
        display: none;
      }
    }

    &::before {
      right: 129px;
    }

    &::after {
      left: 471px;
    }

    @include vp-1199 {
      margin: 0 auto;
      width: 442px;
      grid-column: 1/-1;
      grid-row: 2;

      & .features__center-item-content {
        width: 100%;
        padding: 33px 135px 42px;
      }
    }

    @include vp-767 {
      order: 4;
      width: 100%;
      max-width: 100%;
      margin: 20px auto 44px;

      & .features__center-item-content {
        width: 100%;
        padding: 38px 74px 48px;
      }
    }

    & span:first-child {
      display: block;
      font-size: 74px;
      font-weight: 700;
      line-height: 1;

      @include vp-767 {
        margin-bottom: -5px;
      }
    }

    & span:last-of-type {
      display: block;
      margin-bottom: 31px;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5;

      @include vp-1199 {
        font-size: 22px;
        margin-bottom: 15px;
      }

      @include vp-767 {
        margin-bottom: 8px;
      }
    }

    & p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
