.feature {
  display: flex;
  gap: 30px;
  font-family: $ff-secondary;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  &__count {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    & span:first-of-type {
      display: inline-block;
      margin-top: -10px;
      font-size: 71px;
      font-weight: 700;
      line-height: 1;
      background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include vp-1199 {
        margin-top: -4px;
        font-size: 58px;
      }
    }

    & span:last-of-type {
      justify-self: flex-start;
      font-family: $ff-secondary;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      color: #2e35ac;
      text-align: start;

      @include vp-767 {
        text-align: center;
      }
    }
  }

  &__about {
    min-width: 183px;
    max-width: 227px;

    & h3 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      color: $color-default-dark;

      @include vp-1199 {
        margin-bottom: 6px;
        font-size: 20px;
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
      color: $color-default-dark;
    }
  }

  &--center {
    flex-direction: column;
    align-items: center;
    background-color: #1c3374;
    color: $color-default-light;
    text-align: center;

    @include vp-1199 {
      gap: 13px;
    }

    @include vp-767 {
      gap: 8px;
    }

    & span:first-of-type {
      padding-left: 9px;
      font-family: $ff-secondary;
      background: $color-default-light;
      background-clip: text;
      letter-spacing: 1.2px;

      @include vp-1199 {
        padding-left: 0;
        font-size: 74px;
      }

      @include vp-767 {
        margin-bottom: -5px;
      }
    }

    & span:last-of-type {
      display: inline-block;
      margin-top: 4px;
      font-family: $ff-secondary;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5;
      color: $color-default-light;
      text-align: center;

      @include vp-1199 {
        margin-top: 0;
        font-size: 22px;
      }
    }

    & .feature__about {
      & p {
        font-family: $ff-secondary;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: $color-default-light;
      }
    }
  }
}
