.form {
  &__field {
    width: calc(50% - 15px);
    margin-bottom: 30px;

    &:last-child {
      margin-right: 0;
    }

    & .is-invalid {
      font-family: $ff-secondary;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $color-error;
    }

    @include vp-1199 {
      width: calc(50% - 30px);
    }

    @include vp-767 {
      width: 100%;
    }

    & input {
      padding: 5px 0;
      width: 100%;
      border: none;
      background-color: transparent;
      color: $color-default-light;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      &::placeholder {
        font-family: $ff-secondary;
        font-size: 14px;
        font-weight: 400;
        color: $color-default-light;
      }

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
      }

      &:focus,
      &:active {
        padding-left: 14px;
        outline: 1px solid #ffffff;

        &::placeholder {
          color: transparent;
        }
      }

      &:disabled {
        opacity: 0.3;
      }
    }
  }

  & button {
    padding: 16px;
    font-family: $ff-secondary;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border: 3px solid $color-default-light;
    background-color: transparent;
    color: $color-default-light;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      border-image: linear-gradient(151deg, #ed0233 0, #003eb7 100%);
      border-image-slice: 1;
    }

    @include vp-767 {
      margin-top: 10px;
    }
  }
}

.form .is-valid {
  span {
    font-family: $ff-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.form .is-invalid {
  & input {
    border-bottom: 1px solid red;
  }
}
