.coach {
  position: relative;
  display: grid;
  width: 260px;
  max-width: 260px;
  height: 294px;
  color: $color-default-light;
  background-color: #afafaf;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::after {
    content: attr(data-coach);
    position: relative;
    margin-top: -50px;
    font-family: $ff-secondary;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    color: $color-default-light;
    text-align: center;
  }

  @include vp-1199 {
    width: 268px;
    max-width: 268px;
  }

  @include vp-767 {
    width: 226px;
    max-width: 226px;
    height: 274px;
  }

  & .is-active~.coach-info {
    opacity: 0.89;
  }

  & .swiper-slide {
    width: 100%;
  }

  & img {
    position: absolute;
    top: 0;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    width: 100%;
    height: 294px;
    max-height: 100%;
    object-fit: cover;
  }

  &__info {
    position: relative;
    top: 0;
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    padding-top: 56px;
    width: 100%;
    min-height: 294px;
    bottom: 0;
    font-family: $ff-secondary;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: $color-default-dark;
    opacity: 0;
    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 20;

    @include vp-767 {
      padding-top: 48px;
      min-height: 274px;
    }

    & h3 {
      margin-top: 0;
      margin-bottom: 6px;
      font-family: $ff-secondary;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
      opacity: 1;
      color: $color-default-light;
      text-align: center;

      @include vp-1199 {
        padding-right: 6px;
      }

      @include vp-767 {
        padding-right: 0;
      }
    }
  }

  & p {
    margin-top: 0;
    margin-bottom: 37px;
    font-family: $ff-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #b6bdcc;

    @include vp-1199 {
      padding-right: 6px;
    }

    @include vp-767 {
      padding-right: 0;
    }
  }

  &:hover .coach__info,
  &:focus .coach__info {
    opacity: 0.89;
    top: 0;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;

    &::-webkit-scrollbar {
      appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 10px;
      height: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cccccc;
      border-radius: 10px;
      border: 2px solid #eeeeee;
    }

    &::-webkit-scrollbar-track {
      background-color: #eeeeee;
    }
  }

  &:hover::after,
  &:focus::after {
    opacity: 0;
  }

  &__features-list {
    padding-left: 52px;
    list-style-type: disc;
    text-align: start;
    font-family: $ff-secondary;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;

    @include vp-767 {
      padding-left: 30px;
    }
  }

  &__features-item:not(:last-child) {
    margin-bottom: 13px;
  }
}
