.coaches {
  padding-bottom: 78px;
  background-color: #ffffff;

  @include vp-1199 {
    padding-bottom: 84px;
  }

  @include vp-767 {
    padding-bottom: 54px;
  }

  &__container {
    max-width: 1304px;
    margin: 0 auto;
  }

  & h2 {
    max-width: 1160px;
    margin: 0 auto 32px;
    font-family: $ff-primary;
    font-size: 54px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 1.62px;
    color: $color-default-dark;

    @include vp-1199 {
      margin-top: 0;
      margin-bottom: 8px;
      padding: 0 100px;
      font-size: 42px;
      letter-spacing: 1.26px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 13px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }

  &__swiper-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__swiper {
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;

    @include vp-1199 {
      width: 566px;
    }

    @include vp-767 {
      width: 226px;
    }
  }

  &__swiper-wrapper {
    padding: 0;
  }

  &__swiper-slide {
    width: 260px;

    @include vp-1199 {
      width: 268px;
    }

    @include vp-767 {
      width: 226px;
      height: 294px;
    }
  }

  & .swiper-button-prev {
    @include vp-1199 {
      left: 40px;
    }

    @include vp-767 {
      font-size: 16px;
      left: 6px;
    }
  }

  & .swiper-button-next {
    @include vp-1199 {
      right: 40px;
    }

    @include vp-767 {
      font-size: 16px;
      right: 6px;
    }
  }

  & .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 32px;
    font-weight: 400;
    color: #afafaf;
    opacity: 0.7;

    @include vp-767 {
      font-size: 22px;
    }
  }
}
